<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>{{ .Site.Title }}</title>
<!-- themes/resume/layouts/partials/head.html -->
<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
<link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="https://harshdeepsingh.sirv.com/Icons/favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
