{{ define "main" }}

  <body>
  <div class="taxonomy-toggle-buttons">
    <a href="/tags" class="taxonomy-button {{ if eq .Section "tags" }}active{{ end }}">Tags</a>
    <a href="/categories" class="taxonomy-button {{ if eq .Section "categories" }}active{{ end }}">Categories</a>
    <a href="/search" class="taxonomy-button {{ if eq .Section "search" }}active{{ end }}">Search</a>
  </div>

  <div class="list-content-wrapper">
    <h1>{{ .Title }}</h1>

    {{ if .Content }}
      <div>{{ .Content }}</div>
    {{ end }}

    {{ $paginator := .Paginate (.Pages.ByLastmod.Reverse) 3 }}
    {{ range $paginator.Pages }}
      <div class="card" onclick="location.href='{{ .RelPermalink }}';">
        <a class="card-title">{{ .Title }}</a>
        <div class="card-date">Published on {{ .Date.Format "2 January 2006" }}{{ if gt .Lastmod.Unix .Date.Unix }} | Updated on {{ .Lastmod.Format "2 January 2006" }}{{ end }}</div>
      </div>
    {{ end }}

    {{ if gt $paginator.TotalPages 1 }}
      <div class="pagination">
        {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}">← Prev</a>
        {{ end }}
        {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}">Next →</a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</body>
{{ end }}
