{{ define "main" }}
  <h1>[{{ .Title }}]</h1>

   {{ $paginator := .Paginate (.Pages) 3 }}
  {{ range $paginator.Pages }}
    <div class="card" onclick="location.href='{{ .RelPermalink }}';">
      <a class="card-title">{{ .Title }}</a>
      <div class="card-date">{{ .Date.Format "2 January 2006" }}</div>
    </div>
  {{ end }}

 {{ if gt $paginator.TotalPages 1 }}
      <div class="pagination">
        {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}">← Prev</a>
        {{ end }}
        {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}">Next →</a>
        {{ end }}
      </div>
    {{ end }}
{{ end }}
