{{ define "main" }}
  <div class="taxonomy-toggle-buttons">
    <a href="/tags" class="taxonomy-button {{ if eq .Section "tags" }}active{{ end }}">Tags</a>
    <a href="/categories" class="taxonomy-button {{ if eq .Section "categories" }}active{{ end }}">Categories</a>
    <a href="/search" class="taxonomy-button {{ if eq .Section "search" }}active{{ end }}">Search</a>
  </div>
  <h1>All Tags</h1>
  <div class="flex-tags">
    {{ range .Data.Terms }}
      <a href="{{ .Page.RelPermalink }}" class="tag-item">#{{ .Page.Title }}</a>
    {{ end }}
  </div>
{{ end }}
